/* color palette: http://www.colourlovers.com/palette/146458/Soho_New_York */
.full {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/bg.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    font-weight: 700;
    font-family: 'Bree Serif', serif;
}

.navbar {
    padding-left: 1%;
    padding-right: 1%;
}

.navbar-toggle {
    z-index:3;
}

html {
    height: 100%;
}

body {
  background-color: #F8F4FF;
  color: #252525;
}

.index-cta {
    font-size: 5em;
}

h1 {
  font-size: 3em;
  font-family: 'Bree Serif', serif;
  color: #252525;
}

h2 {
  font-size: 2em;
  color: #252525;
  font-family: 'Asap', sans-serif;
}

p, li, a, td {
  font-size: 1em;
  font-family: 'Asap', sans-serif;
}

.nav-text {
  font-size: 1em;
  font-family: 'Asap', sans-serif;
}

.city-link {
  padding: 30px;
  text-align: center;
}

.center {
  text-align: center;
}

.middle {
    padding-top: 10%;
}

.nav{
  font-family: 'Bree Serif', serif;
}

.stat-table {
    border: 0;
    align: center;
}

.stat-title {
    font-weight: 700;
}


div.background-box-index{
    background-color: #fff;
    min-height: 500px;
    margin: 40px;
    padding: 20px;
    opacity: 0.8;
    border: 1px solid #252525;
}

div.background-box {
    background-color: #fff;
    min-height: 450px;
    margin: 20px;
    padding: 20px;
    opacity: 0.8;
    border: 1px solid #252525;
}

div.background-header-box {
    background-color: #fff;
    margin: 30px;
    padding: 10px;
    opacity: 0.8;
    border: 1px solid #252525;
}

#transit-breakdown li{
  list-style: none;
  padding-left: 1.2em;
}

.main-stat-breakdown {
    margin-top: 20px;
    font-size: 1.5em;
}

.shadow {
  -moz-box-shadow:    1px 1px 2px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  box-shadow:         1px 1px 2px 2px #ccc;
}

/* Stat counter */
.stat-group {
  position: relative;
  display: inline-block;
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
}

.stat-group .per {
  position: absolute;
  height: 0;
  line-height: 0;
  width: 100%;
  top: 50%;
  font-size: 3em;
  text-align: center;
  color: #D84813;
  opacity: 0.8;
}


/* Custom navbar colors http://work.smarchal.com/twbscolor/ */
.navbar-default {
  background-color: #252525;
  border-color: #322d3a;
}
.navbar-default .navbar-brand {
  color: #f8f4ff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f8f4ff;
}
.navbar-default .navbar-text {
  color: #f8f4ff;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f4ff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8f4ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f8f4ff;
  background-color: #322d3a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f8f4ff;
  background-color: #322d3a;
}
.navbar-default .navbar-toggle {
  border-color: #322d3a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #322d3a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f4ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8f4ff;
}
.navbar-default .navbar-link {
  color: #f8f4ff;
}
.navbar-default .navbar-link:hover {
  color: #f8f4ff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f4ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f8f4ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f8f4ff;
    background-color: #322d3a;
  }
}

/* Typed.js blinking cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Social sharing icons */
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

@media (min-width: 1200px){
    .social {
        position: fixed;
        bottom: 1%;
        left: 1%;
    }
}

@media (max-width: 1199px){
    .social {
        position: static;
        display: table;
        margin: 0 auto;
    }
}