<div class="col-lg-4">
    <div class="background-box shadow">
        <div class="main-stat">
            <h2 class="center stat-title">News</h2>
            <div class="stat-group">
              <div class="per" id="news-total">0%</div>
              <svg class="svg"></svg>
            </div>
            <p class="center stat-title">chance of shitty news.</p>
        </div>
        <div class="main-stat-breakdown center">
            <table id="news-breakdown" border="0" align="center">
                <tr>
                    <th align="left" width="60%">Trending Keywords</th>
                    <th align="left">Links</th>
                </tr>
                <tr>
                    <td align="left">Terrorists</td>
                    <td align="left"><a href="http://www.gothamist.com">G</a></td>
                </tr>
                <tr>
                    <td align="left">Beyonce</td>
                    <td align="left"><a href="http://www.cnn.com">C</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>