<div class="col-lg-4">
    <div class="background-box shadow">
        <div class="main-stat">
            <h2 class="center stat-title">Transit</h2>
            <div class="stat-group">
              <div class="per" id="transit-total">0%</div>
              <svg class="svg"></svg>
            </div>
            <p class="center stat-title">chance of a shitty commute.</p>
        </div>
        <div class="main-stat-breakdown">
            <div id="transit-breakdown" class="center">
                <table border="0" align="center" width="80%">
                    <tr v-for="(service, data) in api.transit.breakdown" >
                        <td align="left">{{ data.name }}</td>
                        <td align="right">{{ data.score }} %</td>
                      </tr>
                </table>
            </div>
        </div>
    </div>
</div>