<!DOCTYPE html>
<html lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shitty Index</title>

    <!-- Bootstrap Core CSS -->
    <link href="%% url_for('static', filename='css/bootstrap.min.css') %%" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="%% url_for('static', filename='css/styles.css') %%" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80208841-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>

<body class="full">
  <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="%% url_for('.index') %%">Shitty &#x1f4a9; Index</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/dex/nyc">NYC</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/dex/about">About</a></li>
        </ul>
      </div>
    </nav>

  <!-- jQuery -->
    <script src="%% url_for('static', filename='vendor/jquery.js') %%"></script>

    <!-- Put your page content here! -->
    <div class="container">
        <% block content %>
        <% endblock %>
        <div class="social">
            <ul class="share-buttons">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fshitty.in&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/static/img/social-icons/Facebook.png"></a></li>
                <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fshitty.in&text=:%20http%3A%2F%2Fshitty.in&via=patleeman" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/static/img/social-icons/Twitter.png"></a></li>
                <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fshitty.in&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/static/img/social-icons/Reddit.png"></a></li>
                <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fshitty.in" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/static/img/social-icons/Email.png"></a></li>
            </ul>
        </div>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="%% url_for('static', filename='vendor/bootstrap.min.js') %%"></script>

    <!-- Vue-->
    <script type="text/javascript" src="%% url_for('static', filename='vendor/vue.min.js') %%"></script>

    <!-- Snap svg -->
    <script src="%% url_for('static', filename='vendor/snap.svg-min.js') %%"></script>

    <!-- Typed.js -->
    <script src="%% url_for('static', filename='vendor/typed.min.js') %%"></script>

    <!-- Application JS -->
    <script src="%% url_for('static', filename='js/main.js') %%"></script>
    <script src="%% url_for('static', filename='js/app.js') %%"></script>

    <!-- Hi There -->
    <!-- Hi, I see you lurking in my code.  Looking to hire a full stack developer?  Click about and reach out! -->
</body>

</html>
