<% extends "base.html" %>

<% block content %>
<script>
    var ny_btn = function(){
        location.href = '%% url_for('nyc') %%';
    }

</script>
<div class="container">
    <div class="col-lg-12">
        <div class="background-box-index shadow">
            <div class="middle center">
                <h1 class="center index-cta">Shitty Index</h1>
                <h2 class="center">How shitty is your city today?</h2>

                <div class="city-link center">
                    <!-- Indicates caution should be taken with this action -->
                    <button type="button" class="btn btn-lg btn-danger" onclick="ny_btn(); return false;">New York City</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% endblock %>