<% extends "base.html" %>

<% block content %>
<div class="row">
    <div id="app">
        <div class="col-lg-12">
            <div class="background-header-box shadow">
                <h1 class="city center">New York <span id="city"></span></h1>
                <h2 class="center">There is a <strong><span class="overall">{{api.overall}}</span>%</strong> chance you'll have a shitty day.</h2>
            </div>
        </div>

        <% include "partials/partial-weather.html" %>

        <% include "partials/partial-transit.html" %>

    </div>
</div>

<% endblock %>